<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <script src="https://aframe.io/releases/0.8.0/aframe.min.js"></script>
    <script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>
  </head>
  
  <script>
    var numClues = 1;
    var viewedClues = new Array(numClues - 1).fill(false);
    var attempts = 3;
    
    window.onload = function() {
      AFRAME.registerComponent("videohandler1", {
        init: function() {
          var marker = this.el;
  
          this.vid = document.querySelector("#vid1");
  
          marker.addEventListener(
            "markerFound",
            function() {
              this.vid.play();
              document.getElementById("playbtn1").style.display = "block";
              document.getElementById("codebtn").style.display = "block";
              viewedClues[0] = true;
            }.bind(this)
          );
  
          marker.addEventListener(
            "markerLost",
            function() {
              this.vid.pause();
              this.vid.currentTime = 0;
              document.getElementById("playbtn1").style.display = "none";
            }.bind(this)
          );
          
          marker.addEventListener('materialvideoloadeddata', e => {
             // grab the material
            console.log("done loading");
             let material = this.el.getObject3D("mesh").material;
             // swap the format
             material.map.format = THREE.RGBAFormat;
             material.map.needsUpdate = true;
          })
        }
      });
    };
    
    function getInput() {
      attempts = attempts - 1;
      var input = window.prompt("Enter the code:");
      if (input === "5831") {
        document.getElementById("codebtn").style.display = "none";
        alert("Congrats! You win!");
      } else {
        if (attempts === 0) {
          document.getElementById("codebtn").style.display = "none";
          alert("You lose.");
        } else {
          alert("That's not correct.");
        }
      }
    }
  </script>
  
  <style>
    .arjs-loader {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .arjs-loader div {
      text-align: center;
      font-size: 1.25em;
      color: white;
    }
  </style>
  
  <body style="margin : 0px; overflow: hidden;">
    <div class="arjs-loader">
      <div>Loading, please wait...</div>
    </div>
    <a-scene
      vr-mode-ui="enabled: false;"
      renderer="antialias: true; alpha: true; precision: mediump;"
      embedded
      arjs="trackingMethod: best; sourceType: webcam; debugUIEnabled: false;"
    >
      <a-assets>
        <video
          src="./assets/video/6.mov"
          type="video/mov"
          preload="auto"
          id="vid1"
          response-type="arraybuffer"
          loop="true"
          crossorigin
          webkit-playsinline
          playsinline
        ></video>
      </a-assets>
  
      <a-nft
        videohandler1
        type="nft"
        url="https://arjs-cors-proxy.herokuapp.com/https://raw.githack.com/AR-js-org/AR.js/master/aframe/examples/image-tracking/nft/trex/trex-image/trex"
        smooth="true"
        smoothcount="10"
        smoothtolerance="0.01"
        smooththreshold="5"
      >
        <a-video
          src="#vid1"
          position="145 -50 -190"
          rotation="-90 0 0"
          width="270"
          height="480"
          play="true"
        >
        </a-video>
      </a-nft>
      <a-entity camera></a-entity>
    </a-scene>
    
    <div class="footer">
       <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
             <div class="onebleft">
                <button id="playbtn1" style="display: none;" onclick="vid1.play()" class="btn btnskips">Play Clue 1</button>
             </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pull-left">
             <div class="onebleft">
                <button id="codebtn" style="display: none;" onclick="getInput()" class="btn btnskips">Enter Code</button>
             </div>
          </div>
       </div>
    </div>
    
    <style>
       .footer {
       position: fixed;
       left: 0;
       bottom: 0;
       width: 100%;
       color: white;
       }
       .onebleft{
       padding: 5px 5px 5px 5px;
       margin: 5px 15px 5px 5px ;
       float: left;
       z-index: 900000000000;
       }
    </style>
  </body>